<discount-codes id="discount-codes">
    <div data-banner class="hidden mt-4 p-2 border border-solid border-green-600 bg-green-200">
        <p class="text-xs font-medium text-green-800">Code: <span data-cookie class="font-bold"></span> applied at checkout</p>
    </div>
    <script type="application/json">
    </script>
</disount-codes>
<script defer="defer" src="{{ 'discount-codes.js' | asset_url }}"></script>